$EASING_VALUE : cubic-bezier(0.215, 0.61, 0.355, 1);

.bg {
    &__list {
        &+& {
            margin-top: 10rem;
        }
    }

    &__item {
        padding-bottom: 2.5rem;
        margin-bottom: 2rem;

        &:not(:last-child) {
            border-bottom: 1px solid $intermBlue;
        }
    }

    &__period {
        @extend %uppercase;

        font-size: 1rem !important;
        font-weight: 300;

        display: inline-block;
        margin-bottom: .5rem;
    }

    &__name {
        position: relative;
        font-weight: 500;
    }

    &__position {
        font-style: italic;

        @include mq(mobile) {
            font-size: 1rem;
            margin-left: .3rem;
        }
    }
}