@import "visibility", "content", "close";

.about {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        height: 100%;

        background: $lightBlue;

        z-index: 10;
    }

    &__content {
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        border: 1rem solid #fff;


        @include mq(desktop) {
            border-width: 4rem;
        }
    }

    &__content {
        padding: 12rem 0;

        color: $blue;

        @include mq(mobile) {
            padding: 8rem 2rem;
        }

        * {
            color: inherit;

            @include mq(desktop) {
                font-size: 1.8rem;
            }
        }
    }
}