.skills {
    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;

        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        @include mq(desktop) {
            flex-wrap: wrap;
        }

        &+& {
            margin-top: 4rem;

            @include mq(desktop) {
                margin-top: 4rem;
            }
        }
    }

    &__item {
        flex: 0 0 12.5rem;

        @include mq(desktop) {
            flex: 1 1 calc(25% - 1rem);
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 15rem;
        padding: 1rem;

        background: $intermBlue;

        margin-right: 1rem;

        @include mq(desktop) {
            margin-bottom: 1rem;

            &:not(:nth-child(4n)) {
                margin: 0 1rem 0 0;
            }
        }
    }

    &__cat {
        @extend %uppercase;
        font-size: 1rem;
        opacity: 0.5;
    }

    &__letters {
        font-weight: 500;
    }

    &__name {
        @extend %uppercase;
        font-size: 1rem;
        font-weight: 300;
    }
}