$INITIAL_VALUE : 8rem;
$EASING_VALUE : cubic-bezier(0.23, 1, 0.32, 1);

@keyframes projectsAppear {
    from {
        opacity: 0;
        transform: translateX($INITIAL_VALUE);
    }

    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}