@import "helpers/breakpoints";

// @import
@import "base/minireset";
@import "base/colors";
@import "base/fontStyles";

@import "helpers/extends";
@import "helpers/classes";

@import "components/buttons/layout";
@import "components/cursor/layout";
@import "components/images/layout";
@import "components/navigation/layout";

@import "parts/header";
@import "parts/main";
@import "parts/footer";

@import "pages/homepage/layout";
@import "pages/about/layout";
@import "pages/project/layout";

@import "pages/transitions/layout";


/*
* ======================================================
* SANDBOX
* ======================================================
*/

.sandbox {
    h1 span {
        display: block;
        font-size: 24vmax;
        text-align: center;
        line-height: .9;

        &:last-child {
            font-size: 35vmax;
        }
    }
}