@import "helpers/breakpoints";

// @import
@import "base/minireset";
@import "base/colors";
@import "base/fontStyles";

@import "helpers/extends";
@import "helpers/classes";

@import "components/buttons/layout";
@import "components/cursor/layout";
@import "components/images/layout";
@import "components/navigation/layout";

@import "parts/header";
@import "parts/main";
@import "parts/footer";

@import "pages/homepage/layout";
@import "pages/about/layout";
@import "pages/project/layout";

@import "pages/transitions/layout";


/*
* ======================================================
* SANDBOX
* ======================================================
*/

.sandbox {
    header {
        height: 60rem;
        background: #eee;
    }

    footer {
        height: 50rem;
        background: #eee;
    }

    main {
        width: 100%;
        max-width: 120rem;
        margin: 0 auto;


        .js-contrast {
            border: 1px solid red;
            height: 200rem;
            margin-top: 20rem;
        }
    }
}