@import 'misc';

.project {
    &__descr {
        max-width: 80rem;
        width: 100%;
        margin: 0 auto;

        section+section {
            margin-top: 25rem;

            @include mq(desktop) {
                margin-top: 50rem;
            }
        }

        img,
        picture {
            display: block;
            width: 100%;
        }

        img+img,
        img+picture,
        picture+picture,
        picture+img,
        img+div,
        picture+div {
            margin-top: 5rem;

            @include mq(desktop) {
                margin-top: 15rem;
            }
        }

        .project__web+picture {
            margin-top: 15rem;
        }
    }
}

.project {
    &__descr {
        color: $darkGrey;

        @include mq(mobile) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        * {
            color: inherit;
        }

        header {
            margin-bottom: 10rem;

            @include mq(desktop) {
                margin-bottom: 25rem;
            }

            p {
                margin: 10rem auto 0;

                @include mq(desktop) {
                    margin: 25rem 0;
                }
            }
        }

        p {
            max-width: 42rem;
            line-height: 180%;
        }

    }
}


.project {
    &__web {
        display: flex;
        flex-direction: column;

        @include mq(desktop) {
            flex-direction: row;

            >* {
                margin-top: 0 !important;

                &:nth-child(2n) {
                    margin-left: 2rem;
                }
            }


            &--desktop {
                flex-basis: 80%;
            }

            &--mobile {
                flex-basis: 20%;
            }
        }

        &--mobile {
            max-width: 15.6rem;

            @include mq(mobile) {
                margin: 0 auto;
            }
        }

        &+& {
            margin-top: 15rem;
        }
    }

}